<nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #57c4a7;">
    <a class="navbar-brand" href="#">EX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="index">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="newOrder">New Customer Order</a>
          <a class="nav-item nav-link" href="customers">Customer Maintenance</a>
          <a class="nav-item nav-link" href="customerOrders">Customer Order Maintenance</a>
          <a class="nav-item nav-link active" href="customerOrderItems">Order Items Maintenance</a>
          <a class="nav-item nav-link" href="employees">Employee Maintenance</a>
          <a class="nav-item nav-link" href="products">Product Maintenance</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid" id="subscribe-container">
    <h2>Customer Order Items</h2>
    <br/ >
    <p>List of ElectroniX's customer order items</p>
    <div>
    <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Product to Customer Order</button> <!--- Pair with Modal --->
    <br/ >
    <br/ >
  	<input type="text" id="myInput" onkeyup="filterFunction()" placeholder="Search by Order Id...">
    <br/>
    <br/>
  <table class="table table-striped" id="customerOrderItemTable">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Product ID</th>
      <th>Sale Qty</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
    <tr>
      <td>{{ order_id }}</td>
      <td>{{ product_id }}</td>
      <td>{{ sale_qty }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
    </div>
  </div>
  
        <!-- Modal Add Customer Order Items-->
      <form action="/customerOrderItems/post" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Product to Customer Order</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Order ID" name="order_id" id="orderIdInput">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Product ID" name="product_id" id="productIdInput">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Sale Qty" name="sale_qty" id="saleQtyInput">
          </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="mailListSubmit">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>

    <script>
  function filterFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("customerOrderItemTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
  }
  </script>